.btn_rounded {
  @include media-breakpoint-down(lg) {
    display: none;
  }
  position: relative;
  font-weight: 700;
  border: 0.0625rem solid rgba($white, 0.6);
  margin: 0;
  padding: 0.625rem 3.125rem 0.625rem 0.625rem;
  background-color: $white;
  span {
    position: absolute;
    background-color: $primary;
    height: 2.25rem;
    width: 2.25rem;
    top: 50%;
    right: 0.3125rem;
    transform: translateY(-50%);
    border-radius: 50%;
    i {
      color: $white;
      line-height: 2.25rem;
    }
  }
  &:hover {
    background: linear-gradient(
      to right,
      rgba($primary, 0.95),
      rgba($secendary, 0.95)
    );
    color: $white;
    span {
      background-color: rgba($color: #000000, $alpha: 0.6);
    }
  }
}
