// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  // INTEO SECTION
  #intro {
    padding-top: 7.5rem;
  }

  // SERVICES SECTION
  #services {
    padding-top: 1.25rem;
    .icon{
      margin-right: .75rem;
    }
  }

   // FOOTER SECTION 
   .footer {
    .top_footer {
      a{
        font-size: 1.25rem;
    }
      p{
          font-weight: 500;
      }
    }
  }
}
