// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  // INTEO SECTION
  #intro {
    padding-top: 6.25rem;
    .container {
      .row {
        .left_hero {
          padding-bottom: 0;
        }
        .right_hero {
          padding-bottom: 0;
        }
      }
    }
  }

  // COMPANIES SECTION
  .companies {
    &__logo {
      // max-width: 100%;
      height: 3rem;
      padding: 0.5rem;
      margin: 1rem;
    }
  }

  // SERVIES SECTION
  #services {
    .bordar_right {
      border-right: 0.1rem solid gray;
    }
    
    .right_content {
      text-align: left;
      padding-left: 1rem;
    }
   
    .middle_content{
      display: flex;
      flex-direction: row-reverse;
    }
    .icon{
    display: inline-block;
    margin-right: .5rem;
    }
  }

  // FOOTER SECTION 
  .footer {
    .top_footer {
      a{
          font-size: 1rem;
      }
      p{
        font-weight: 400;
      }
    }
  }
  
}
